.boton{
    background-color: aqua;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color:antiquewhite;
    text-decoration: none;
}


.boton::before{
    content: "Pasa por encima";
}

.boton:visited{
    content: "¡Hecho!";
}