.boton{
    background-color: aqua;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color:rgb(14, 26, 97);
    text-decoration: none;
}

.boton:hover{
    background-color: green;
    color:white;
}

.boton::before{
    content: "Pasa por encima";
}

.boton:visited{
    content: "¡Hecho!";
}
